<nav class="nav -horizontal">
  <ul>
    <li><a href="#" class="nav_button -previous-page"><span class="popup">{{t 'pagePrev'}}</span></a></li>
    <li><input class="nav_input -page" value="1"><span class="popup">{{t 'pageCurrent'}}</span></li>
    <li><a href="#" class="nav_button -next-page"><span class="popup">{{t 'pageNext'}}</span></a></li>
  </ul>
  <ul>
    <li><a href="#" class="nav_button -zoom-out"><span class="popup">{{t 'zoomOut'}}</span></a></li>
    <li><a href="#" class="nav_button -zoom-in"><span class="popup">{{t 'zoomIn'}}</span></a></li>
    <li><a href="#" class="nav_button -fullscreen"><span class="popup">{{t 'fullScreen'}}</span></a></li>
  </ul>
</nav>

{{! TODO: Scans go here}}

{{yield}}
