{{#each content.variants as |variant|}}
  <div class="variant" id="{{variant.id}}">

    {{{variant.text_schnipsel}}}

    <span class="variant_type {{if (eq variant.type 'note') '-dark'}}">
      {{t variant.type}}
    </span>
  </div>
{{/each}}

{{yield}}
