{{#each content.variants as |variant|}}
  <div class="variant" id="{{variant.id}}">

    {{{variant.text_schnipsel}}}

    <span class="variant_textual-witness">
      {{#each variant.textzeuge as |textzeuge index|}}{{if index ', '}}{{textzeuge}}{{/each}}
      {{#pop-up}}{{t 'textualWitness'}}{{/pop-up}}
    </span>
  </div>
{{/each}}

{{yield}}
