<header class="lane_header">
  {{partial 'partials/lane-type'}}

  <div class="lane_actions">
    <ul>
      {{#each content.witnesses as |witness index|}}
        {{#if witness.hasVariants}}
          <li>
            <button {{action 'toggleVariants' witness.identifier}} class="variants_button -color{{index}} {{if witness.visible '-active'}}">
              {{witness.identifier}}
            </button>
            {{#pop-up}}
              <b>{{{witness.type}}}</b><br>
              {{{witness.text}}}
            {{/pop-up}}
          </li>
        {{/if}}
      {{/each}}
      {{#if content.otherVariants}}
        <li>
          <button {{action 'toggleVariants' 'other'}} class="variants_button -other {{if otherVariantsVisible '-active'}}">
            <span class="sr-only">{{t 'otherVariants'}}</span>
          </button>
          {{#pop-up}}
            {{t 'otherVariants'}}
          {{/pop-up}}
        </li>
      {{/if}}
    </ul>
  </div>
</header>

<div class="lane_content">
  {{#each content.variants as |variant index|}}
    {{#if variant.visible}}
      <div class="variant" id="{{variant.id}}">
        {{#each variant.witnessesIndex as |zeuge windex|}}
          <span class="variant_border{{windex}} -color{{zeuge}}"></span>
          {{#if (eq variant.witnessesIndex.length (incr windex))}}
            <span class="variant_content -shift{{windex}}">
            {{{variant.text_schnipsel}}}
            </span>
          {{/if}}
        {{else}}
          <span class="variant_border0"></span>
          <span class="variant_content">
            {{{variant.text_schnipsel}}}
          </span>
        {{/each}}
        <span class="variant_type {{if (eq variant.type 'note') '-dark'}}">
          {{t variant.type}}
        </span>
      </div>
    {{/if}}
  {{/each}}

  {{yield}}
</div>
