<header class="header">

  <div class="header_logo">
    <a href="https://adw-goe.de/" target="_blank">
      <img src="img/logo-akademie-goettingen.png" alt="{{t 'goettingenAcademyOfSciencesAndHumanities'}}">
    </a>
  </div>

  <div class="header_main">
    <h1 class="header_title">
      <span class="header_correspondents">
        {{content.korrespondenten_anzeige}}
        {{#pop-up}}
          {{t 'sender'}}:
          <span class="header_sender-first-name">{{content.absender_vorname}}</span>
          <span class="header_sender-last-name">{{content.absender_nachname}}</span>
          <br>
          {{t 'recipient'}}:
          <span class="header_recipient-first-name">{{content.empfaenger_vorname}}</span>
          <span class="header_recipient-last-name">{{content.empfaenger_nachname}}</span>
        {{/pop-up}}
      </span>
    </h1>
    <div class="header_subtitle">
      <div class="header_dates">
        {{content.datum_anzeige}}
        {{#pop-up}}
          {{#if content.datum_julianisch}}
            {{{t 'dateJulian'}}}:
            <time class="header_date -julian" datetime="{{content.datum_julianisch}}">
              {{format-date content.datum_julianisch day='numeric' month='long' year='numeric'}}
            </time>
            <br>
          {{/if}}
          {{{t 'dateGregorian'}}}:
          <time class="header_date -gregorian" datetime="{{content.datum_gregorianisch}}">
            {{format-date content.datum_gregorianisch day='numeric' month='long' year='numeric'}}
          </time>
          {{!TODO: Explain how approximate dates are represented}}
        {{/pop-up}}
      </div>
    </div>
  </div>

  <div class="header_aside">
    <div class="header_pagination">
      {{#if content.brief_id_vorgaenger}}
        {{#link-to 'letter' content.brief_id_vorgaenger (query-params view=content.viewQuery) class="header_step -prev"}}
          {{#pop-up}}
            {{{t 'letterPrev'}}}<br>
            {{{t 'series' series=content.reihe}}}<br>
            {{{t 'volume' volume=content.band}}}<br>
            {{{t 'number' number=content.brief_nummer_vorgaenger}}}
          {{/pop-up}}
        {{/link-to}}
      {{else}}
        <span class="header_step -prev -disabled">
          {{#pop-up}}{{t 'letterNotExistingPrev'}}{{/pop-up}}
        </span>
      {{/if}}
      <span class="header_current-letter">
        {{content.reihe}}, {{content.band}}, N.&nbsp;{{content.brief_nummer}}
        {{#pop-up}}
          {{{t 'series' series=content.reihe}}}<br>
          {{{t 'volume' volume=content.band}}}<br>
          {{{t 'number' number=content.brief_nummer}}}
        {{/pop-up}}
      </span>
      {{#if content.brief_id_nachfolger}}
        {{#link-to 'letter' content.brief_id_nachfolger (query-params view=content.viewQuery) class="header_step -next"}}
          {{#pop-up}}
            {{{t 'letterNext'}}}<br>
            {{{t 'series' series=content.reihe}}}<br>
            {{{t 'volume' volume=content.band}}}<br>
            {{{t 'number' number=content.brief_nummer_nachfolger}}}
          {{/pop-up}}
        {{/link-to}}
      {{else}}
        <span class="header_step -next -disabled">
          {{#pop-up}}{{t 'letterNotExistingNext'}}{{/pop-up}}
        </span>
      {{/if}}
    </div>
  </div>

  <div class="header_below">
    <button class="header_toggle -metadata {{if showMetadata '-open'}}" {{action 'toggleMetadata'}}>
      {{if showMetadata (t 'metadataHide') (t 'metadataShow')}}
    </button>
    <button class="header_toggle -citation {{if showCitation '-open'}}" {{action 'toggleCitation'}}>
      {{if showCitation (t 'citationHide') (t 'citationShow')}}
    </button>
  </div>

  {{letter-metadata content=content}}

  {{letter-citation content=content}}

  {{yield}}

</header>
