<header class="header">

  <div class="header_logo">
    <a href="https://adw-goe.de/" target="_blank">
      <img src="img/logo-akademie-goettingen.png" alt="{{t 'goettingenAcademyOfSciencesAndHumanities'}}">
    </a>
  </div>

  <div class="header_main">
    <h1 class="header_title">
      <span class="header_sender">
        <span class="header_first-name">{{content.absender_vorname}}</span>
        <span class="header_last-name">{{content.absender_nachname}}</span>
        {{#pop-up}}{{t 'sender'}}{{/pop-up}}
      </span>
      <span class="header_to">
        <span class="sr-only">{{t 'to'}}</span>
      </span>
      <span class="header_recipient">
        <span class="header_first-name">{{content.empfaenger_vorname}}</span>
        <span class="header_last-name">{{content.empfaenger_nachname}}</span>
        {{#pop-up}}{{t 'recipient'}}{{/pop-up}}
      </span>
    </h1>
    <div class="header_dates">
      {{content.datum_anzeige}}
      {{#pop-up}}
        <span class="header_date -gregorian">
          {{format-date content.datum_gregorianisch day='numeric' month='long' year='numeric'}}
        </span>
        ({{{t 'dateGregorian'}}})
        {{#if content.datum_julianisch}}
          <br>
          <span class="header_date -julian">
            {{format-date content.datum_julianisch day='numeric' month='long' year='numeric'}}
          </span>
          ({{{t 'dateJulian'}}})
        {{/if}}
      {{/pop-up}}
    </div>
  </div>

  <div class="header_aside">
    <div class="header_pagination">
      {{#if content.brief_id_vorgaenger}}
        {{#link-to 'letter' content.brief_id_vorgaenger (query-params view=content.viewQuery) class="header_step -prev"}}
          {{#pop-up}}{{{t 'letterPrev'}}}<br>{{{t 'series' series=content.reihe}}}<br>{{{t 'number' number=content.brief_nummer_vorgaenger}}}{{/pop-up}}
        {{/link-to}}
      {{else}}
        <span class="header_step -prev -disabled">
          {{#pop-up}}{{t 'letterNotExistingPrev'}}{{/pop-up}}
        </span>
      {{/if}}
      <span class="header_current-letter">
        {{content.reihe}}, {{content.brief_nummer}}
        {{#pop-up}}{{{t 'series' series=content.reihe}}}<br>{{{t 'number' number=content.brief_nummer}}}{{/pop-up}}
      </span>
      {{#if content.brief_id_nachfolger}}
        {{#link-to 'letter' content.brief_id_nachfolger (query-params view=content.viewQuery) class="header_step -next"}}
          {{#pop-up}}{{{t 'letterNext'}}}<br>{{{t 'series' series=content.reihe}}}<br>{{{t 'number' number=content.brief_nummer_nachfolger}}}{{/pop-up}}
        {{/link-to}}
      {{else}}
        <span class="header_step -next -disabled">
          {{#pop-up}}{{t 'letterNotExistingNext'}}{{/pop-up}}
        </span>
      {{/if}}
    </div>
    <div class="header_citation">
      <div class="header_cite-link">
        {{t 'recommendedCitation'}}
        {{#pop-up wide=true}}
          <span class="popup_pre-heading">{{t 'historicCriticalEdition'}}</span>
          <h2 class="popup_heading">
            <a href="{{content.brief_url}}" target="_blank">Leibniz, Gottfried Wilhelm: Sämtliche Schriften und Briefe</a>
          </h2>
          <p>Hrsg. v. Berlin-Brandenburgischen Akademie der Wissenschaften / Akademie der Wissenschaften zu Göttingen</p>
          <h3 class="popup_sub-heading">{{t 'permaLink'}}</h3>
          <input class="popup_input" type="url" value="{{content.brief_url}}">
        {{/pop-up}}
      </div>
    </div>
  </div>

  {{letter-metadata content=content}}

  <div class="header_below">
    <button class="header_toggle-metadata {{if showMetadata '-open'}}" {{action 'toggleMetadata'}}>
      {{if showMetadata (t 'metadataHide') (t 'metadataShow')}}
    </button>
  </div>

  {{yield}}

</header>
