<div class="header_main">
  <div class="header_title">
    <h1 class="header_heading">
      {{content.korrespondenten_anzeige}}
      {{#pop-up}}
        {{t 'sender'}}:
        <span class="header_sender-first-name">{{content.absender_vorname}}</span>
        <span class="header_sender-last-name">{{content.absender_nachname}}</span>
        <br>
        {{t 'recipient'}}:
        <span class="header_recipient-first-name">{{content.empfaenger_vorname}}</span>
        <span class="header_recipient-last-name">{{content.empfaenger_nachname}}</span>
      {{/pop-up}}
    </h1>
    <p class="header_info">
      {{#if content.datum_anzeige}}
        {{content.datum_anzeige}}
        {{#pop-up}}
          {{#if content.bothDatesPresent}}
            {{{t 'dateJulian'}}}:
            <time class="header_date -julian" datetime="{{content.datum_julianisch}}">
              {{format-date content.datum_julianisch day='numeric' month='long' year='numeric'}}
            </time>
            <br>
            {{{t 'dateGregorian'}}}:
            <time class="header_date -gregorian" datetime="{{content.datum_gregorianisch}}">
              {{format-date content.datum_gregorianisch day='numeric' month='long' year='numeric'}}
            </time>
          {{else}}
            {{#if content.datum_julianisch}}
              {{{t 'dateJulian'}}}
            {{else}}
              {{#if content.datum_gregorianisch}}
                {{{t 'dateGregorian'}}}
              {{/if}}
            {{/if}}
          {{/if}}
          {{#if content.exactDateUnknown}}
            <br>{{t 'exactDateUnknown'}}
          {{/if}}
          {{#if content.dateAddedByEditor}}
            <br>{{t 'addedByEditor'}}
          {{/if}}
        {{/pop-up}}
      {{/if}}
      {{content.beilage_titel}}
    </p>
  </div>

  <div class="header_pagination">
    <p>
      {{#if content.attachmentToLetters}}
          {{t 'attachmentTo'}}
          {{#each content.attachmentToLetters as |letter index|}}{{if index ', '}}{{#link-to 'letter' letter.id}}N.&nbsp;{{letter.number}}{{/link-to}}{{/each}}
      {{else}}
        {{#if content.brief_vorgaenger_id}}
          {{t 'respondsTo'}}
          <span>
            {{#link-to 'letter' content.brief_vorgaenger_id}}{{content.brief_vorgaenger_reihe}}, {{content.brief_vorgaenger_band}}&nbsp;N.&nbsp;{{content.brief_vorgaenger_nummer}}{{/link-to}},
            {{#pop-up}}
              {{{t 'series' series=content.brief_vorgaenger_reihe}}}<br>
              {{{t 'volume' volume=content.brief_vorgaenger_band}}}<br>
              {{{t 'number' number=content.brief_vorgaenger_nummer}}}
            {{/pop-up}}
          </span>
        {{else}}
          {{t 'respondsIsFirst'}},
        {{/if}}
        {{#if content.brief_nachfolger_id}}
          {{t 'respondedBy'}}
          <span>
            {{#link-to 'letter' content.brief_nachfolger_id}}{{content.brief_nachfolger_reihe}}, {{content.brief_nachfolger_band}}&nbsp;N.&nbsp;{{content.brief_nachfolger_nummer}}{{/link-to}}
            {{#pop-up}}
              {{{t 'series' series=content.brief_nachfolger_reihe}}}<br>
              {{{t 'volume' volume=content.brief_nachfolger_band}}}<br>
              {{{t 'number' number=content.brief_nachfolger_nummer}}}
            {{/pop-up}}
          </span>
        {{else}}
          {{t 'respondsIsLast'}}
        {{/if}}
        {{#if content.attachment}}
          ({{t 'attachment'}}
          {{#link-to 'letter' content.attachment.id}}N.&nbsp;{{content.attachment.number}}{{/link-to}})
        {{/if}}
      {{/if}}
    </p>
    <p>
      {{#if content.prevLetter}}
        {{#link-to 'letter' content.prevLetter.id (query-params view=content.viewQuery) class="header_step -prev"}}
          <span class="sr-only">{{{t 'letterPrev'}}}</span>
        {{/link-to}}
      {{else}}
        <span class="header_step -prev -disabled">
          {{#pop-up}}{{t 'letterNotExistingPrev'}}{{/pop-up}}
        </span>
      {{/if}}
      <span class="header_current-letter">
        <select onChange={{action 'changeLetter' value='target.value'}}>
          {{#each content.allLetters as |letter|}}
            <option value={{letter.id}} selected={{eq letter.id content.id}}>
              {{letter.reihe}}, {{letter.band}} N.&nbsp;{{letter.brief_nummer}}
            </option>
          {{/each}}
        </select>
        {{#pop-up}}
          {{{t 'series' series=content.reihe}}}<br>
          {{{t 'volume' volume=content.band}}}<br>
          {{{t 'number' number=content.brief_nummer}}}
        {{/pop-up}}
      </span>
      {{#if content.nextLetter}}
        {{#link-to 'letter' content.nextLetter.id (query-params view=content.viewQuery) class="header_step -next"}}
          <span class="sr-only">{{{t 'letterNext'}}}</span>
        {{/link-to}}
      {{else}}
        <span class="header_step -next -disabled">
          {{#pop-up}}{{t 'letterNotExistingNext'}}{{/pop-up}}
        </span>
      {{/if}}
    </p>
  </div>
</div>

<div class="header_below">
  <button class="header_toggle -metadata {{if showMetadata '-open'}}" {{action 'toggleMetadata'}}>
    {{if showMetadata (t 'metadataHide') (t 'metadataShow')}}
  </button>
  <button class="header_toggle -citation {{if showCitation '-open'}}" {{action 'toggleCitation'}}>
    {{if showCitation (t 'citationHide') (t 'citationShow')}}
  </button>
</div>

{{partial 'partials/letter-metadata'}}

{{partial 'partials/letter-citation'}}

{{yield}}
