<aside class="citation">
  <h2 class="citation_heading">{{t 'citation'}}</h2>

  {{!TODO: "This is not the complete edition"}}
  {{!TODO: "The complete edition can be found here:"}}
  <p>
    {{content.absender_vorname}} {{content.absender_nachname}} an
    {{content.empfaenger_vorname}} {{content.empfaenger_nachname}},
    {{content.ort}}, {{content.datum_anzeige}}, in:<br />
    Gottfried Wilhelm Leibniz, Sämtliche Schriften und Briefe,
    hrsg. v. d. Berlin-Brandenburgischen Akademie der Wissenschaften
    u. d. Akademie der Wissenschaften zu Göttingen, Berlin:
    {{if (eq content.band '5') 'Akademie Verlag 2003,'}}
    {{if (eq content.band '6') 'Akademie Verlag 2004,'}}
    {{if (eq content.band '7') 'Akademie Verlag 2011,'}}
    {{if (eq content.band '8') 'De Gruyter Verlag 2015,'}}<br />
    Reihe {{content.reihe}}, Bd. {{content.band}}, N. {{content.brief_nummer}}
  </p>
  <p>
    {{! TODO: translate}}
    <a href="{{content.brief_url}}" target="_blank">PDF des Briefes in der Vollfassung</a>
  </p>

  {{yield}}
</aside>
