<aside class="metadata">
  <h2 class="metadata_heading">{{t 'metadata'}}</h2>

  <h3>{{t 'context'}}</h3>
  <p>{{{content.kontext}}}</p>

  <h3>{{t 'tradition'}}</h3>
  <ul>
    {{#each content.witnesses as |witness index|}}
      <li class="metadata_witness -color{{index}}">
        {{witness.identifier}}
        {{witness.type}}: 
        {{{witness.text}}}
      </li>
    {{/each}}
  </ul>

  <h3>
    {{#if (eq content.ort.length 1)}}
      {{t 'location'}}
    {{else}}
      {{t 'locations'}}
    {{/if}}
  </h3>
  <p>{{#each content.ort as |ort index|}}{{if index ', '}}{{ort}}{{/each}}</p>

  <h3>
    {{#if (eq content.sprache.length 1)}}
      {{t 'language'}}
    {{else}}
      {{t 'languages'}}
    {{/if}}
  </h3>
  <p>{{#each content.sprache as |sprache index|}}{{if index ', '}}{{t (concat 'languageName.' sprache)}}{{/each}}</p>

  {{yield}}
</aside>
