<div class="main {{if showNav '-show-nav'}}">

  <div class="top-bar">
    <a href="{{baseURL}}" class="top-bar_title">{{t 'leibnizLetters'}}</a>
    <div class="top-bar_right">
      {{#if showSearch}}
        <form class="top-bar_search" method="get">
          {{input value=query type=text class='top-bar_search-input' placeholder=(t 'searchNoun')}}
          <button type="submit" class="top-bar_search-submit" {{action 'search'}}><div class="sr-only">{{t 'search'}}</div></button>
        </form>
      {{/if}}
      <button class="top-bar_toggle-nav" {{action 'toggleNav'}}>{{t 'menu'}}</button>
    </div>
  </div>

  {{outlet}}

</div>

{{outlet 'nav'}}

<button class="main_scroll-top {{if showScrolltop '-visible'}}" {{action 'scrollToTop'}}>
  <span class="sr-only">{{t 'scrollToTop'}}</span>
</button>
