<div class="main {{if showNav '-show-nav'}}">

  <div class="top-bar">
    <a href="{{!-- TODO --}}" class="top-bar_title">{{intl-get 'leibnizLetters'}}</a>
    <button class="top-bar_toggle-nav" {{action 'toggleNav'}}>
      <span class="sr-only">{{intl-get 'navigation'}}</span>
    </button>
  </div>

  {{outlet 'letter'}}

</div>

{{outlet 'nav'}}
