<div class="main {{if showNav '-show-nav'}}">

  <div class="top-bar">
    <a href="{{! TODO}}" class="top-bar_title">{{t 'leibnizLetters'}}</a>
    <button class="top-bar_toggle-nav" {{action 'toggleNav'}}>{{t 'menu'}}</button>
  </div>

  {{outlet 'letter'}}

</div>

{{outlet 'nav'}}
