{{#if content.brief_nummer}}

  {{#header-container}}
    {{letter-header content=content changeLetter='changeLetter'}}
  {{/header-container}}

  <main class="content" id="content">

    {{#unless rendered}}
      <div class="content_loading">
        <span class="sr-only">{{{t 'loading'}}}</span>
      </div>
    {{/unless}}

    <div class="content_lanes {{if rendered '-rendered'}}">
      {{#if content.volltext}}
        {{#each content.view.lanes as |lane index|}}
          {{#if index}}
            {{!TODO: Find a way to omit those parameters}}
            {{drag-handle beforeResize='clearVariantConnectors' afterResize='positionVariants'}}
          {{/if}}
          {{component (concat 'lane-' lane.type) content=content lane=lane laneTypes=laneTypes positionVariants='positionVariants'}}
        {{/each}}
      {{else}}
        <div class="lane">
          <p class="transcript_fulltext-not-available">{{{t 'fulltextNotAvailable'}}}</p>
        </div>
      {{/if}}
    </div>

  </main>

  {{#footer-container}}
    {{letter-footer}}
  {{/footer-container}}

{{else}}

  {{#header-container}}
    <div class="header_main">
      {{#if content.error}}
        <h1 class="header_title">
          {{{t 'databaseError'}}}
        </h1>
        <p>{{content.error}}</p>
      {{else}}
        <h1 class="header_title">
          404
        </h1>
        <p>{{{t 'letterNotExisting' id=content.id}}} {{#link-to 'index'}}{{t 'goToStart'}}{{/link-to}}</p>
      {{/if}}
    </div>
  {{/header-container}}

{{/if}}
