{{#if content.brief_nummer}}

  {{letter-header content=content}}

  <main class="content">

    {{#unless rendered}}
      <div class="content_loading">
        <span class="sr-only">{{{t 'loading'}}}</span>
      </div>
    {{/unless}}

    <div class="content_lanes {{if rendered '-rendered'}}">

      {{#if content.volltext}}

        {{#each content.view.lanes as |lane|}}

          <div class="lane -minimized">
            <nav class="nav -vertical">
              {{t lane.type}}
              <ul>
                <li><a href="#" class="nav_button -restore"><span class="popup">{{t 'restore'}}</span></a></li>
              </ul>
            </nav>
          </div>

          {{letter-lane lane=lane content=content}}

        {{/each}}

      {{else}}

        <div class="lane">
          <p class="transcript_fulltext-not-available">{{{t 'fulltextNotAvailable'}}}</p>
        </div>

      {{/if}}

    </div>

  </main>

{{else}}

  <div class="header_main">
    <h1 class="header_title">
      {{{t 'letterNotExisting' id=content.id}}}
    </h1>
  </div>

{{/if}}
