<div class="nav {{if showNav '-visible'}}">

  <p class="nav_subheading">{{t 'goettingenAcademyOfSciencesAndHumanities'}}</p>
  <h2 class="nav_heading">{{t 'leibnizLetters'}}</h2>

  <h3 class="nav_subheading">Info &amp; Hilfe</h3>
  <ul>
    {{! TODO: Update links}}
    <li>
      <a href="http://adw-goe.de/forschung/forschungsprojekte-akademienprogramm/leibniz-edition/" class="nav_link -about">{{t 'aboutThisProjekt'}}</a>
    </li>
    <li>
      <a href="http://www.gwlb.de/Leibniz/Leibnizarchiv/Mitarbeiter/" class="nav_link -contact">{{t 'contact'}}</a>
    </li>
    <li>
      <a href="http://adw-goe.de/impressum/" class="nav_link -legal">{{t 'impressum'}}</a>
    </li>
  </ul>

  <p>
    <a href="http://adw-goe.de" class="nav_link -back">{{t 'goToPortal'}}</a>
  </p>

</div>
